<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Vendic\OhDear\Api\CheckListInterface">
        <arguments>
            <argument name="checks" xsi:type="array">
                <item name="sansec_shield" xsi:type="object">Elgentos\OhDearChecks\Checks\SansecShield</item>
                <item name="indexer_backlog" xsi:type="object">Elgentos\OhDearChecks\Checks\IndexerBacklog</item>
                <item name="opcache_hit_rate" xsi:type="object">Elgentos\OhDearChecks\Checks\OpcacheHitRate</item>
            </argument>
        </arguments>
    </type>
</config>
