<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Vendic\OhDear\Api\CheckListInterface">
        <arguments>
            <argument name="checks" xsi:type="array">
                <item name="sentry_connection" xsi:type="object">Elgentos\OhDearChecks\Checks\SentryConnection</item>
                <item name="rabbitmq_connection" xsi:type="object">Elgentos\OhDearChecks\Checks\RabbitmqConnection</item>
            </argument>
        </arguments>
    </type>
</config>
